body {
    background-color: rgb(3, 3, 64);

}
h1, h3 {
    color: white;
    padding-bottom: 5px;
}

label {
    padding-right: 10px;
    color: white;
}
.inputBox{
    width: 100%;
    display:grid;
}
.home{
    position: fixed;
    background-color: rgb(58, 58, 240);
}

.homeContent {
    position: fixed;
    background-color: black;
    margin-top: 10%;
    margin-left: 30%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    min-width: 40%;
}

.hash {
    position: fixed;
    background-color: rgb(55, 53, 53);
    margin-left: -10%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    font-weight: 600;
    min-width: 40%;   
}
.message {
    color: rgb(139, 6, 6);
}
.retrieved {
    position: fixed;
    background-color: black;
    margin-top: 5%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    min-width: 40%;   
}